# FastAPI and Server
fastapi
uvicorn[standard]
python-multipart

# Firebase
firebase-admin

# Data Handling and ML
pandas
numpy
deepface
opencv-python-headless
Pillow
tf-keras


# OCR and PDF
pytesseract
fpdf

# Utilities
cryptography
requests